@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    --primary-Moderate_violet: hsl(263, 55%, 52%);
    --primary-Very_dark_grayish_blue: hsl(217, 19%, 35%);
    --primary-Very_dark_blackish_blue: hsl(219, 29%, 14%);
    --primary-White: hsl(0, 0%, 100%);

    --neutral-Light_gray: hsl(0, 0%, 81%);
    --neutral-Light_grayish_blue: hsl(210, 46%, 95%);
}

@font-face {
    font-family: 'Barlow Semi Condensed', sans-serif;    
    src: url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
}

/* verified and name 50% opacity but paragraph have 70% opacity  */

*{
    margin: 0;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;    
    font-size: 18px;
    background-color: var(--neutral-Light_grayish_blue);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem;
}

.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
}

article {
    padding: 1.5rem;
    border-radius: 10px;
}

img {
    border-radius: 50%;
}

.daniel {
    background-color: var(--primary-Moderate_violet);
}

.jonathan {
    background-color: var(--primary-Very_dark_grayish_blue);
}

.kira {
    background-color: var(--primary-White);
}

.patrick {
    background-color: var(--primary-Very_dark_blackish_blue);
}

.jeanette {
    background-color: var(--primary-White);
}

.col-span-2 {
    grid-column: span 2;
}

.row-span-2 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.testimonial-heading {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-White);
    margin: 1rem;
}

.name {
    font-weight: bold;
    color: var(--primary-White);
}

.status {
    color: var(--neutral-Light_grayish_blue);
}

.of-jeanette,
.of-kira {
    color: var(--primary-Very_dark_grayish_blue);
}

.profile {
    display: flex;
    gap: 1rem;
    height: 50px;
    align-items: center;
}

.name-status {
    display: flex;
    flex-direction: column;
}

.testimony-light-gray{
    color: var(--neutral-Light_gray);
}

.testimony-very-dark-grayish-blue{
    color: var(--primary-Very_dark_grayish_blue);
}

.name-kira,
.status-kira,
.name-jean,
.status-jean{
    color: var(--primary-Very_dark_grayish_blue);
}

@media (max-width: 1200px){
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}